<div>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem
    libero ex voluptas nisi necessitatibus voluptatum nam iusto dolor voluptates
    iure dolores voluptatibus, repudiandae sint optio pariatur quod, sapiente ea
    nulla! Nulla a laboriosam doloribus alias deleniti nostrum distinctio,
    ratione nemo dolore impedit quis est ipsa, at minima! Nisi mollitia expedita
    illum nam assumenda aperiam in, cum molestias tempora excepturi dolores.
    Nulla tempora neque beatae molestias ullam facere, fugiat architecto totam
    dignissimos explicabo! Voluptate beatae sed sit incidunt asperiores. Iure
    eius atque porro blanditiis exercitationem officia dicta cumque facere
    maxime consectetur? Asperiores, assumenda voluptates provident accusamus
    tenetur omnis tempora nihil, praesentium architecto voluptate, illo et!
    Sapiente, sequi, ipsam molestias temporibus asperiores atque optio beatae
    eius rerum, ullam quas tenetur culpa quod! Placeat debitis eaque
    voluptatibus. Labore aperiam in omnis odio asperiores, maiores amet eaque,
    numquam autem mollitia esse, id incidunt. Nisi ipsam illo aperiam ullam aut
    voluptates dolore officia, voluptas unde. Unde doloremque neque a, impedit
    sunt repudiandae nisi voluptas molestias, iste hic ut doloribus aspernatur
    eligendi? Sapiente id quisquam libero explicabo voluptatem nisi,
    perspiciatis, excepturi aspernatur, veritatis magni incidunt aliquid?
    Distinctio debitis eligendi laborum vero accusamus perferendis aliquam neque
    illum, sapiente laboriosam porro error adipisci rem mollitia quis ex placeat
    sit! Autem repudiandae, voluptatem laboriosam vitae natus laudantium cum
    praesentium! Est fuga, cum soluta ipsa quam nostrum facilis quos? Animi
    natus mollitia excepturi quae exercitationem corporis commodi quaerat
    molestiae adipisci sit blanditiis voluptatem accusantium sed, saepe iusto
    inventore molestias rem!
  </p>

  @defer () {
  <img
    src="https://media0.giphy.com/media/v1.Y2lkPTc5MGI3NjExdHBqdTd2dWFvMG9hdmF5NXNoM3Q0ZTJhMmJ2bGJ0Y2Z1N3E1NGhiZiZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/QVF0LkZecO5lC/giphy.webp"
    alt="Gift"
  />
  } @placeholder {
  <p>Cargando</p>
  }
</div>
